cleanup = true

params {
    outputDir = "${baseDir}/output"
    reads = "./data/*_{1,2}.fastq.gz"
}

profiles {
    standard {
        process.executor = 'local'
        // Add resource allocation if necessary
    }
    cluster {
        process {
            executor = 'slurm'
            queue = 'jumbo'
            memory = '40G'
            cpus = 2
            withName: 'FastQC' {
                container = 'https://depot.galaxyproject.org/singularity/fastqc:0.12.1--hdfd78af_0'
            }
            withName: 'Fastp' {
                container = 'https://depot.galaxyproject.org/singularity/fastp:0.23.4--hadf994f_2'
            }
        }
    }
}

singularity {
    enabled = true
    autoMounts = true
}

