params {
    outputDir = "./output"
    reads = "./data/*_{1,2,R1,R2}.fastq.gz"
    krakenDb = "./output/dependencies/kraken_standard"
}

profiles {
    standard {
        process.executor = 'local'
    }
    cluster {
        process {
            executor = 'slurm'
            queue = 'jumbo'
            memory = '8 GB'
            cpus = 4
            withName: 'FastQC' {
                memory = '16 GB'
                cpus = 4
                container = 'https://depot.galaxyproject.org/singularity/fastqc:0.12.1--hdfd78af_0'
            }
            withName: 'Fastp' {
                memory = '32 GB'
                cpus = 8
                container = 'https://depot.galaxyproject.org/singularity/fastp:0.23.4--hadf994f_2'
            }            
            withName: 'curlKrakenDB' {
                memory = '200 GB'
                cpus = 4
            }   
            withName: 'Kraken2' {
                memory = '200 GB'
                cpus = 16
                container = 'https://depot.galaxyproject.org/singularity/kraken2:2.1.3--pl5321hdcf5f25_0'
            }            
            withName: 'rcorrector' {
                memory = '100 GB'
                cpus = 16
                container = 'https://depot.galaxyproject.org/singularity/rcorrector%3A1.0.6--h43eeafb_0'
            }
            withName: 'ExtractKrakenReads' {
                memory = '100 GB'
                cpus = 8
            }
            withName: 'ConcatenateReads' {
                memory = '100 GB'
                cpus = 4            
            }
            withName: 'Trinity' {
                memory = '100 GB'
                cpus = 16
                container = 'https://depot.galaxyproject.org/singularity/trinity%3A2.15.1--hff880f7_1'
            }
            withName: 'Evigene' {
                memory = '100 GB'
                cpus = 8
                container = 'https://depot.galaxyproject.org/singularity/evigene%3A23.7.15--hdfd78af_1'
            }
            withName: 'BUSCO' {
                memory = '100 GB'
                cpus = 16
                container = 'https://depot.galaxyproject.org/singularity/busco%3A5.6.1--pyhdfd78af_0'
            }
        }
    }
}

singularity {
    enabled = true
    autoMounts = true
}

